p#pogrubienie_humennyi{
    font-size: 31px;
    color: #995ccc;
}
p#pochylona_humennyi{
    font-size: 38px;
    color: #fdc068;
}
p#index_gorny_humennyi{
    font-size: 1.3cm;
    color: #ad8e18;
}
p#index_dolny_humennyi{
    font-size: 2.1cm;
    color: rgb(63%, 42%, 24%);
}
p#mono_humennyi{
    font-size: 43px;
    color: #2d3d9a;
}
p#powiekszenie_humennyi{
    color: #673e9a;
}
p#pomniejszenie_humennyi{
    color: rgb(53%, 32%, 57%);
}